<!DOCTYPE html>
<html>
    <head>
        <title>NRecaptcha2 ASP.NET Web Pages (Razor) validation</title>
    </head>
    <body>
        @{
            var errors = new List<string>();
            string firstName = "";
            string lastName = "";
        
            if (IsPost)
            {
                firstName = Request["firstName"];
                if (string.IsNullOrWhiteSpace(firstName))
                {
                    errors.Add("First name is required");    
                }
                
                lastName = Request["lastName"]; 
                if (string.IsNullOrWhiteSpace(lastName))
                {
                    errors.Add("Last name is required");
                }
            }
            
            if (!IsPost || errors.Count > 0)
            {
                <ul>
                    @foreach(var error in errors)
                    {
                        <li>@error</li>
                    }
                </ul>
            
                <form method="post">
                    @Html.Label("First Name: ")
                    @Html.TextBox("firstName", firstName)

                    <br />
                    <br />

                    @Html.Label("Last Name: ")
                    @Html.TextBox("lastName", lastName)

                    <br />
                    <br />

                    <input type="submit" value="Submit" />
                </form>
            }
            else
            {
                <div>@firstName @lastName</div>
            }
}
    </body>
</html>
